.top-right-text {
    top: 10px;      /* Distância do topo */
    right: 10px;    /* Distância do lado direito */
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #333;    /* Cor do texto */
    background-color: #f0f0f0; /* Fundo para visibilidade */
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombras para estilo */
}


label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #555;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

/* Estilos básicos da página */
body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #f0f2f5;
    color: #333;
}

fieldset {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 20px;
    align-content: center;
}

/* Estilos da legenda dos fieldsets */
legend {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: #007BFF;  /* #4CAF50 */
    border-radius: 8px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.table_rounded td {
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
    background-color: rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 5px 15px;
}

a {
    color: #3366cc;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

a:hover {
    color: #ff6666;
}

.table_rounded inf {
    color: #3366cc;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    resize: vertical;
}

input[type="txt"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="radio"],
input[type="checkbox"]
{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    resize: vertical;
}

input[type="button"], button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
}

button:hover {
    background-color: #45a049;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.link-imagem img {
    width: 64px;
    height: 64px;
    border-radius: 8px; /* Deixa os cantos arredondados, opcional */
}
